#style-switcher h2 {
  background-color: #ff6b6b;
}
#style-switcher h2 a {
  background-color: #ff6b6b;
}
#reset button {
  background-color: #ff6b6b;
}
.hm_news_data h3 a:hover {
  color: #ff6b6b;
}
.hm_login_form h1,
.hm_signup_form h1 {
  background-color: #ff6b6b;
}
.error_page h3 {
  color: #ff6b6b;
}
.error_page form input:focus {
  border-color: #ff6b6b;
}
.register_info a:hover,
.register_info a:focus {
  color: #ff6b6b;
}
.register_info a {
  color: #ff6b6b;
}
ul.hm_pagination li a:hover {
  border-color: #ff6b6b;
}
.hm_news_data ul li a:hover {
  color: #ff6b6b;
}
.hm_footer_box ul li a:hover {
  color: #ff6b6b;
}
.creative {
  color: #ff6b6b !important;
}
.hm_top_usd p a i.fa {
  color: #ff6b6b;
}
.hm_top_usd p a:hover {
  color: #ff6b6b;
}
.hm_menu > ul > li > ul.sub-menu > li > a {
  border-bottom: 1px dotted #ff6b6b;
}
.cart_icon a:hover,
.cart_icon a:focus {
  color: #ff6b6b;
}
.cart_icon a {
  border: 1px solid #ff6b6b;
}
a.news_btn:hover {
  color: #ff6b6b;
}
.hm_top_login ul li a i.fa {
  color: #ff6b6b;
}
.hm_top_wishlist p a i.fa {
  color: #ff6b6b;
}
.hm_top_login ul li a:hover {
  color: #ff6b6b;
}
.hm_top_wishlist p a:hover {
  color: #ff6b6b;
}
.hm_menu_wrapper {
  background-color: #ff6b6b;
}
.hm_menu > ul > li > a:hover {
  color: #ff6b6b;
}
.hm_menu > ul > li > ul.sub-menu li > a:hover {
  color: #ff6b6b;
}
.hm_menu > ul > li > ul.sub-menu li:last-child a {
  border-bottom: 2px solid #ff6b6b;
}
.menu_btn span {
  background-color: #ff6b6b;
}
span.search_icon {
  background-color: #ff6b6b;
}
span.search_icon:hover {
  border-color: #ff6b6b;
}
span.search_icon:hover i {
  color: #ff6b6b;
}
ul.usd_dropmenu {
  background-color: #ff6b6b;
}
.hm_btn:before,
.cart_icon a:before {
  background-color: #ff6b6b;
}
.hm_btn:hover,
.hm_btn:focus {
  color: #ff6b6b;
}
.hm_btn {
  border: 1px solid #ff6b6b;
}
.hm_color {
  color: #ff6b6b;
}
.new_pro_box:hover h3 a {
  color: #ff6b6b;
  text-decoration: none;
}
.pro_price {
  color: #ff6b6b;
}
.hm_choose_list .panel-default > .panel-heading {
  background-color: #ff6b6b;
}
.hm_artist_box {
  background-color: #ff6b6b;
}
.hm_testi_box h2 {
  color: #ff6b6b;
}
.hm_news_data ul li a i {
  color: #ff6b6b;
}
a.news_btn {
  color: #ff6b6b;
}
.overlay_buttons .fa {
  background-color: #ff6b6b;
}
.hm_partners_wrapper {
  background-color: #ff6b6b;
}
.hm_footer_box h3.footer_heading {
  color: #ff6b6b;
}
.hm_bottom_footer {
  background-color: #ff6b6b;
}
.footer_icon i {
  color: #ff6b6b;
}
.home_style2 .hm_header_wrapper {
  border-bottom: 2px solid #ff6b6b;
}
.hm_menu > ul > li.active a {
  color: #ff6b6b;
}
.hm_bread_wrapper h1 {
  color: #ff6b6b;
}
.hm_bread_wrapper h1:before {
  background-color: #ff6b6b;
}
.hm_bread_wrapper h1:after {
  background-color: #ff6b6b;
}
.hm_bread_wrapper .breadcrumb > li a {
  color: #ff6b6b;
}
.service_icon {
  border: 1px solid #ff6b6b;
}
.service_icon i.flaticon {
  color: #ff6b6b;
}
.hm_service_box:hover .service_icon:after {
  opacity: 1;
  box-shadow: 3px 3px 0 rgba(171, 189, 56, 0.9);
}
.service_icon:after {
  top: -8px;
  left: -8px;
  padding: 8px;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  box-shadow: 0 0 0 rgba(252, 90, 109, 0.89);
  -webkit-transition: opacity 0.2s, box-shadow 0.2s;
  -moz-transition: opacity 0.2s, box-shadow 0.2s;
  transition: opacity 0.2s, box-shadow 0.2s;
}
.filter_list ul li a {
  border: 1px solid #ff6b6b;
}
.hm_post_share .tags a:hover {
  color: #ff6b6b;
}
.comment-form .form-group input[type='text']:focus,
.comment-form .form-group input[type='password']:focus,
.comment-form .form-group input[type='tel']:focus,
.comment-form .form-group input[type='email']:focus,
.comment-form .form-group select:focus,
.comment-form .form-group textarea:focus {
  border-color: #ff6b6b;
}
.sidebar-widget.sidebar_tags li a:hover {
  color: #ff6b6b;
}
.form-group input[type='text']:focus,
.form-group input[type='password']:focus,
.form-group input[type='tel']:focus,
.form-group input[type='email']:focus,
.form-group input[type='search']:focus,
.form-group select:focus,
.form-group textarea:focus {
  border-color: #ff6b6b !important;
}
.sidebar .popular-posts .post a,
.sidebar .popular-posts .post a:hover {
  color: #ff6b6b;
}
.side_filter .ui-widget.ui-widget-content {
  border: 1px solid #ff6b6b;
}
.side_filter .ui-widget-header {
  background: rgba(171, 189, 56, 0.54);
}
.filter_list ul li a:before {
  background-color: #ff6b6b;
}
.filter_list ul li a.active {
  color: #ff6b6b;
}
.filter_list ul li a:hover {
  color: #ff6b6b;
}
.overlay_buttons .fa {
  background-color: #ff6b6b;
}
ul.hm_pagination li a.active {
  background-color: #ff6b6b;
  border-color: #ff6b6b;
}
ul.hm_pagination li a:before {
  background-color: #ff6b6b;
}
.hm_post_share .tags a {
  border: 1px solid #ff6b6b;
}
.hm_post_share .tags a:before {
  background-color: #ff6b6b;
}
.hm_news_data ul li a i {
  color: #ff6b6b;
}
.comments-area .comment-info .comment-time {
  color: #ff6b6b;
}
.comments-area .comment .comment-reply:hover {
  color: #ff6b6b;
}
.hm_btn:hover,
.hm_btn:focus {
  color: #ff6b6b;
}
.sidebar-title h2:after {
  background-color: #ff6b6b;
}
.sidebar .popular-posts .post-info {
  color: #ff6b6b;
}
span.cat_no {
  color: #ff6b6b;
}
.sidebar-widget.widget_categories a:hover {
  color: #ff6b6b;
}
.sidebar-widget.sidebar_tags li a {
  border: 1px solid #ff6b6b;
}
.sidebar-widget.sidebar_tags li a:before {
  background-color: #ff6b6b;
}
.hm_pro_data {
  background-color: #ff6b6b;
}
.pro_price {
  color: #ff6b6b;
}
a.pro_buy {
  color: #ff6b6b;
}

.item-categories a {
  color: #ff6b6b;
}
.hm_pro_tab .nav-tabs > li.active > a,
.hm_pro_tab .nav-tabs > li.active > a:hover,
.hm_pro_tab .nav-tabs > li.active > a:focus {
  color: #ff6b6b;
}
.side_filter .ui-state-default,
.side_filter .ui-widget-content .ui-state-default,
.side_filter .ui-widget-header .ui-state-default,
.side_filter .ui-button,
.side_filter .ui-button.ui-state-disabled:hover,
.side_filter .ui-button.ui-state-disabled:active {
  border: 1px solid #ff6b6b;
  background: #ff6b6b;
}

.range_value #amount {
  color: #ff6b6b;
}
.contact_box {
  border: 2px solid #ff6b6b;
}
.contact_box:before {
  background: #ff6b6b;
}
.contact_box i.fa {
  color: #ff6b6b;
}
.hm_form .hm_btn:hover {
  color: #ff6b6b;
}
.hm_form .hm_btn:focus {
  color: #ffffff;
}
.contact_form_wrapper {
  background-color: #ff6b6b;
}
